<h1 class="title-section">Citas</h1>
@if (dataSourceAppointments) {
<table
  mat-table
  [dataSource]="dataSourceAppointments.data"
  class="mat-elevation-z8"
>
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>Id cita</th>
    <td mat-cell *matCellDef="let element">{{ element.id }}</td>
  </ng-container>
  <ng-container matColumnDef="firstName">
    <th mat-header-cell *matHeaderCellDef>Nombre</th>
    <td mat-cell *matCellDef="let element">{{ element.firstName }}</td>
  </ng-container>
  <ng-container matColumnDef="lastName">
    <th mat-header-cell *matHeaderCellDef>Apellido</th>
    <td mat-cell *matCellDef="let element">{{ element.lastName }}</td>
  </ng-container>
  <ng-container matColumnDef="dni">
    <th mat-header-cell *matHeaderCellDef>DNI</th>
    <td mat-cell *matCellDef="let element">{{ element.dni }}</td>
  </ng-container>
  <ng-container matColumnDef="specialtyName">
    <th mat-header-cell *matHeaderCellDef>Especialidad</th>
    <td mat-cell *matCellDef="let element">{{ element.specialtyName }}</td>
  </ng-container>
  <ng-container matColumnDef="createdAt">
    <th mat-header-cell *matHeaderCellDef>Fecha registro</th>
    <td mat-cell *matCellDef="let element">
      {{ element.createdAt | date : "dd/MM/YY HH:mm" }}
    </td>
  </ng-container>
  <ng-container matColumnDef="appointmentDateTime">
    <th mat-header-cell *matHeaderCellDef>Fecha Cita</th>
    <td mat-cell *matCellDef="let element">
      {{ element.appointmentDateTime | date : "dd/MM/YY HH:mm" }}
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<mat-paginator
  [length]="dataSourceAppointments.totalItems"
  [pageSize]="pageSize"
  [pageSizeOptions]="[5, 10, 25]"
  [pageIndex]="dataSourceAppointments.currentPage"
  (page)="handlePageEvent($event)"
  aria-label="Select page"
>
</mat-paginator>
} @if (fetchingData) {
<div>
  <p>Fetching data...</p>
</div>
}
<!-- error -->
@if (errorMessage) {
<div>
  <p>Error: {{ errorMessage }}</p>
</div>
}
