<h1>Citas</h1>
@if (appointments$ | async; as listAppointments) {
<div class="table-container">
  <table class="styled-table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Tipo Documento</th>
        <th>Número Documento</th>
        <th>Especialidad</th>
        <th>Fecha Registrada</th>
        <th>Hora Registrada</th>
      </tr>
    </thead>
    <tbody>
      @for (appointment of listAppointments; track appointment.id) {
      <tr>
        <td>{{ appointment.id }}</td>
        <td>{{ appointment.tipoDocumento }}</td>
        <td>{{ appointment.numDocumento }}</td>
        <td>{{ appointment.nombreCompleto }}</td>
        <td>{{ appointment.especialidad }}</td>
        <td>{{ appointment.fechaHora | date : "dd/MM/YY HH:mm" }}</td>
      </tr>
      }
    </tbody>
  </table>
</div>
}
<!-- ss -->
@if (fetchingData) {
<div>
  <p>Fetching data...</p>
</div>
}
<!-- error -->
@if (error$ | async; as errorObj) {
<div>
  <p>Error: {{ errorObj.error }}</p>
</div>
}
