<h1 class="title-section">Citas</h1>
@if (appointments$ | async; as listAppointments) {
<div class="table-container">
  <table class="styled-table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>DNI</th>
        <th>Especialidad</th>
        <th>Registrado</th>
      </tr>
    </thead>
    <tbody>
      @for (appointment of listAppointments.data; track appointment.id) {
      <tr>
        <td>{{ appointment.id }}</td>
        <td>{{ appointment.firstName }}</td>
        <td>{{ appointment.lastName }}</td>
        <td>{{ appointment.dni }}</td>
        <td>{{ appointment.specialtyName }}</td>
        <td>{{ appointment.createdAt | date : "dd/MM/YY HH:mm" }}</td>
      </tr>
      }
    </tbody>
  </table>
</div>
}
<!-- ss -->
@if (fetchingData) {
<div>
  <p>Fetching data...</p>
</div>
}
<!-- error -->
@if (error$ | async; as errorObj) {
<div>
  <p>Error: {{ errorObj.error }}</p>
</div>
}
