<h1>Crear cita</h1>
<form [formGroup]="requestAppointmentForm" (ngSubmit)="handleSubmit()">
  <div>
    <label for="firstName">Nombre</label>
    <input id="firstName" type="text" formControlName="firstName" />
    <div *ngIf="firstName?.invalid && (firstName?.dirty || firstName?.touched)">
      El campo <em>Nombre</em> es requerido.
    </div>
  </div>
  <div>
    <label for="lastName">Apellido</label>
    <input id="lastName" formControlName="lastName" />
    <div *ngIf="lastName?.invalid && (lastName?.dirty || lastName?.touched)">
      El campo <em>Apellido</em> es requerido.
    </div>
  </div>
  <div>
    <label for="dni">DNI</label>
    <input id="dni" type="text" formControlName="dni" />
    <div *ngIf="dni?.invalid && dni?.touched">
      <div *ngIf="dni?.hasError('required')">
        El campo <em>DNI</em> es requerido
      </div>
      <div *ngIf="dni?.hasError('minlength') || dni?.hasError('maxlength')">
        El <em>DNI</em> debe ser 8 dígitos
      </div>
      <div *ngIf="dni?.hasError('pattern')">
        El <em>DNI</em> solo debe contener dígitos.
      </div>
    </div>
  </div>
  <div>
    <label for="specialty">Especialidad</label>
    <select id="specialty" formControlName="specialtyId">
      <option value="" disabled selected>Elegir especialidad</option>
      @for (specialty of listSpecialties; track specialty.id) {
      <option [value]="specialty.id">{{ specialty.specialtyName }}</option>
      }
    </select>
    <div
      *ngIf="
        specialtyId?.invalid && (specialtyId?.dirty || specialtyId?.touched)
      "
    >
      Elegir una <em>especialidad</em> es requerido.
    </div>
  </div>
  <button type="submit" [disabled]="!requestAppointmentForm.valid">
    Crear
  </button>
  <p>Form status: {{ requestAppointmentForm.status }}</p>
</form>

<app-dialog
  *ngIf="showDialog"
  [message]="dialogMessage"
  [type]="dialogType"
  (close)="closeDialog()"
>
</app-dialog>
