<h1>Crear cita</h1>
<form [formGroup]="requestAppointmentForm" (ngSubmit)="handleSubmit()">
  <div>
    <label for="firstName">Nombre</label>
    <input id="firstName" type="text" formControlName="firstName" />
    <div class="form-error-message">
      <small *ngIf="firstName?.touched && firstName?.errors"
        >El <em>Nombre</em> es requerido.</small
      >
      <small class="hidden-placeholder">&nbsp;</small>
    </div>
  </div>
  <div>
    <label for="lastName">Apellido</label>
    <input id="lastName" formControlName="lastName" />
    <div class="form-error-message">
      <small *ngIf="lastName?.touched && firstName?.errors"
        >El <em>Apellido</em> es requerido.</small
      >
      <small class="hidden-placeholder">&nbsp;</small>
    </div>
  </div>
  <div>
    <label for="dni">DNI</label>
    <input id="dni" type="text" formControlName="dni" />
    <div class="form-error-message">
      <small *ngIf="dni?.touched && dni?.hasError('required')"
        >El <em>DNI</em> es requerido</small
      >
      <small *ngIf="dni?.hasError('minlength') || dni?.hasError('maxlength')"
        >El <em>DNI</em> debe ser 8 dígitos</small
      >
      <small *ngIf="dni?.hasError('pattern')"
        >El <em>DNI</em> solo debe contener dígitos.</small
      >
      <small class="hidden-placeholder">&nbsp;</small>
    </div>
  </div>
  <div>
    <label for="specialty">Especialidad</label>
    <select id="specialty" formControlName="specialtyId">
      <option value="" disabled selected>Elegir especialidad</option>
      @for (specialty of listSpecialties; track specialty.id) {
      <option [value]="specialty.id">{{ specialty.specialtyName }}</option>
      }
    </select>
    <div class="form-error-message">
      <small *ngIf="specialtyId?.touched && specialtyId?.errors"
        >Elegir una <em>especialidad</em>.</small
      >
    </div>
  </div>
  <!-- Date Selection -->
  <div>
    <label for="appointmentDate">Fecha de la cita</label>
    <input id="appointmentDate" type="date" formControlName="appointmentDate" />
    <div class="form-error-message">
      <small *ngIf="appointmentDate?.touched && appointmentDate?.errors">
        Indicar fecha de cita
      </small>
      <small class="hidden-placeholder">&nbsp;</small>
    </div>
  </div>
  <!-- Time Selection -->
  <div>
    <label for="appointmentTime">Hora de la cita</label>
    <input id="appointmentTime" type="time" formControlName="appointmentTime" />
    <div class="form-error-message">
      <small *ngIf="appointmentTime?.touched && appointmentTime?.errors">
        Indicar hora de cita
      </small>
      <small class="hidden-placeholder">&nbsp;</small>
    </div>
  </div>
  <button type="submit">Crear</button>
</form>

<app-dialog
  *ngIf="showDialog"
  [message]="dialogMessage"
  [type]="dialogType"
  (close)="closeDialog()"
>
</app-dialog>
